.wrapper {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-control {
    min-width: 90%;
    border: none;
    padding: 10px 12px;
    outline: none;
}

.input-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-input {
    font-size: 1.6rem;
    background-color: var(--white-color);
    border: none;
    padding: 8px;
    margin-right: 2px;
    border-radius: 8px;

    &:hover {
        background-color: var(--sidebar-color-hover);
        cursor: pointer;
    }
}
