.wrapper {
    height: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.inner {
    padding: 0 16px;
    height: 100%;
    display: flex;
    align-items: center;
}

.btn-action-chat {
    font-size: 1.6rem;
    background-color: var(--white-color);
    border: none;
    padding: 8px;
    margin-right: 2px;
    border-radius: 8px;

    &:hover {
        background-color: var(--sidebar-color-hover);
        cursor: pointer;
    }
}
